<a href="https://colab.research.google.com/github/sjunkim95/lab-python/blob/main/py06_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

* 저장된 원소들을 변경할 수 없는 리스트
* indexing, slicing
* `append()`, `remove()` 와 같은 원소를 변경하는 메서드(기능)는 제공되지 않음.

In [ ]:
numbers = (1, 2, 3, 10, 20, 30)
numbers

(1, 2, 3, 10, 20, 30)

# indexing

인덱스를 사용해서 원소 1개를 참조하는 방법

In [ ]:
numbers[0] # 튜플의 첫번째 원소

1

In [ ]:
numbers[-1] # 튜플의 마지막 원소

30

# Slicing

In [ ]:
# 튜플에서 첫 2개 원소를 잘라내기
numbers[:2]

(1, 2)

In [ ]:
# 튜플에서 마지막 2개 원소를 잘라내기
numbers[-2:]

(20, 30)

# decomposition(분해)

In [ ]:
x, y, z = (1, 2, 3)
print(f'x = {x}')
print(f'y = {y}')
print(f'z = {z}')

x = 1
y = 2
z = 3

In [ ]:
for i, v in enumerate(list):
    pass

for x, y in zip(list1, list2):
    pass

# tuple가 for 반복문

In [ ]:
numbers- (1, 3, 5, 7, 9)

for x in numbers:
    pirnt(x, end=',')

# 2차원 리스트, 튜플

In [ ]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]

numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
len(numbers) # numbers의 원소는 2개.

2

In [ ]:
numbers[0]

[1, 2, 3]

In [ ]:
numbers[0][0]

1

In [ ]:
numbers[1][1]

5

In [ ]:
for row in numbers:
    print(row)
    for x in row:
        print(x, end = ' ')
    print()

[1, 2, 3]
1 2 3
[4, 5, 6]
4 5 6

## Exercise

1. 2x2 모양의 난수를 저장하는 2차원 리스트 array1을 만듦.
1. 2x2 모영의 난수를 저장하는 2차원 리스트 array2을 만듦.
1. array1과 array2의 같은 인덱스의 원소들끼리 덧셈 결과를 갖는 2차원 리스트를 만듦.

In [ ]:
import random

In [ ]:
array1 = [] # 1차원 리스트들을 저장할 빈 리스트
for _ in range(2):
    row = [] # 난수들을 저장할 빈 리스트
    for _ in range(2):
        row.append(random.randrange(10))
    array1.append(row)
array1

[[9, 1], [7, 0]]

In [ ]:
array2 = []
for _ in range(2):
    row = [random.randrange(10) for _ in range(2)]
    array2.append(row)

array2

[[2, 6], [6, 9]]

In [ ]:
array3 = [[random.randrange(10) for _ in range(2)]
          for _ in range(2)]
array3

[[5, 0], [4, 7]]

In [ ]:
adds = [[x + y for x, y in zip(row1, row2)] 
        for row1, row2 in zip(array1, array2)] # 리스트들을 가지고 있는 리스트
adds

[[11, 7], [13, 9]]