<a href="https://colab.research.google.com/github/sjunkim95/lab-python/blob/main/py07_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# set(집합)

* 중복된 데이터를 허용하지 않음: `{1, 2, 2, 3, 3, 3} = {1, 2, 3}`
* 데이터 저장 순서가 없음: `{1, 2, 3} = {3, 1, 2}`
    * 인덱스가 없음 -> indexing, slicing 기능을 제공하지 않음.

In [ ]:
s = {1, 2, 2, 3, 3, 3}
s

{1, 2, 3}

set 객체는 list, tuple 객체와 같은 방법으로 for 반복문을 사용할 수 있음.

In [ ]:
for x in s:
    print(x, end=', ')

1, 2, 3,

# set의 기능(메서드)

In [ ]:
s.add(10) # set에 원소 추가
s

{1, 2, 3, 10}

In [ ]:
s.remove(3)
s

{1, 2, 10}

In [ ]:
s1 = {1, 2, 3, 4}
s2 = {2, 3, 5, 6}

print(s1.union(s2)) # 합집합
print(s1.intersection(s2)) # 교집합
print(s1.difference(s2)) # 차집합

{1, 2, 3, 4, 5, 6}
{2, 3}
{1, 4}

In [ ]:
print(s1 | s2) # 합집합 연산자
print(s1 & s2) # 교집합 연산자
print(s1 - s2) # 차집합 연산자

{1, 2, 3, 4, 5, 6}
{2, 3}
{1, 4}