<a href="https://colab.research.google.com/github/sjunkim95/lab-python/blob/main/py09_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(function)

* 함수(function): 기능을 수행하는 코드 블록.
* 인수(argument): 함수를 호출할 때 함수에게 전달하는 값(들).
* 매개변수(parameter): argument를 저장하기 위해서 함수를 정의할 때 선언하는 (지역) 변수.
* 반환 값(return value): 함수가 기능의 수행 결과로 반환하는 값.
    * 반환 값이 있는 함수
    * 반환 값이 없는 함수

파이썬에서 함수를 정의하는 방법:
```
def function_name([param, ...]):
    ["""문서화 주석: 함수 설명, 파라미터 설명, 리턴 값 설명"""]
    함수 기능 코드 블록
    [return 값]
```

In [ ]:
def subtract(x, y):
    """ 숫자 x, y를 전달받아서, x-y를 리턴하는 함수.
    """
    return x - y

In [ ]:
result = subtract(10, 5)
result

5

파이썬의 함수는 2개 이상의 값을 반환할 수 있음. 튜플을 리턴하는 것.

In [ ]:
def plus_and_minus(x, y):
    """2개의 숫자 x, y를 전달받아서, x + y와 x - y를 리턴하는 함수
    """

    return x + y, x - y

In [ ]:
result = plus_and_minus(2, 3)
result

(5, -1)

In [ ]:
plus, minus = plus_and_minus(1, 2)
print(plus)
print(minus)

3
-1

값을 반환하지 않는 함수.

In [ ]:
def repeat_message(message, n):
    """문자열 message와 반복 횟수 n을 전달받아서, 문자열을 n번 출력하는 함수"""
    for _ in range(n):
        print(message)

    return None # 반환 값이 없음을 명시적으로 작성.
    # 반환 값이 없는 경우에 return None 문장은 보통 생략함.

In [ ]:
result = repeat_message('안녕하세요', 3)
print(f'result = {result}') # 위에 함수에서 return None이란 문장이 없어도 return값이 없음으로, None을 반환.

안녕하세요
안녕하세요
안녕하세요
result = None

# 함수 작성 연습

In [ ]:
import random # 난수 생성
import math # sqrt() 함수

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [ ]:
def make_list(start, end, n):
    
    return [random.randrange(start, end) for _ in range(n)]

In [ ]:
numbers = make_list(0, 10, 5)
print(numbers)

[1, 5, 7, 2, 5]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [ ]:
def calc_sum(num_list):

    # return sum(num_list) -> 이렇게 간단하지만 좀 길게 풀면
    total = 0
    for x in num_list:
        total += x
    
    return total

In [ ]:
calc_sum(numbers)

20

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [ ]:
def calc_mean(num_list):
    return calc_sum(num_list) / len(num_list)

In [ ]:
calc_mean(numbers)

4.0

## Ex 4.

* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균.

In [ ]:
def calc_var(num_list):
    mean = calc_mean(num_list) # 리스트 원소들의 평균
    squares = [(x - mean) ** 2 for x in num_list]
    return calc_mean(squares)

In [ ]:
calc_var(numbers)

4.8

## Ex 5.

* 함수 이름: calc_stddev, 표준편차
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 표준편차(standard deviation)를 리턴하는 함수.
    * 표준편차 = root(분산)

In [ ]:
def calc_stddev(num_list):
    return math.sqrt(calc_var(num_list)) # 애초에 제곱을 했으니까. 즉, 표쥰편차는 또 분산에다가 루트를 씌워도 된다.

In [ ]:
calc_stddev(numbers) # 각각의 데이터들이 실제 평균에서 얼마나 떨어졌느냐

2.1908902300206643

## Ex 6.

* 함수 이름: find_max_and_min
* 기능: 숫자들의 리스트에서 최댓값과 최솟값을 리턴하는 함수.

In [ ]:
def find_max_and_min(num_list):
    
    max = num_list[0] # 리스트에서 첫번째 원소를 최댓값이라고 가정.
    min = num_list[0] # 리스트에서 첫번째 원소를 최솟값이라고 가정.

    for x in num_list: # 리스트의 원소들을 처음부터 끝까지 반복하면서
        if x > max: # 리스트에 있는 값이 max보다 크다면
            max = x # 최댓값을 변경
        if x < min: # 리스트에 있는 값이 min보다 적다면
            min = x # 최솟값을 변경

    return max, min

In [ ]:
find_max_and_min(numbers)

(7, 1)

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정한 기본값.
* 함수를 호출할 때 default argument가 있는 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
* 함수를 호출할 때 default argument가 있는 파라미터에 값을 전달하면, 기본값은 무시되고 잔달한 값을 사용함.
* **(주의)** 함수를 정의할 때, default argument가 있는 파라미터들은 default argument가 없는 파라미터들 뒤에 선언해야 함!

In [ ]:
def repeat_message2(msg, n=1): # python은 java처럼 method overloading이 필요없다.
    for _ in range(n):
        print(msg)

In [ ]:
repeat_message2('Hello')

Hello

In [ ]:
repeat_message2('Hello', 3)

Hello
Hello
Hello

# argument 전달 방법:

* **positional argument**: 함수 정의에선 선언된 파라미터 순서대로 argument 들을 전달하는 방법.
* **keyword argument**: `param=value` 형식으로 argument들을 전달하는 방법.
    * keyword argument 방식으로 argument들을 전달할 때는 파라미터 순서를 지키지 않아도 됨.
* **(주의)**: 함수를 호출할 때 positional 방법과 keyword 방법을 함께 사용하는 경우에는 반드시 positional

In [ ]:
def minus (x, y):
    return x - y;

In [ ]:
minus(1, 2)  # positional argument

-1

In [ ]:
minus(x=1, y=2) # keyword argument

-1

In [ ]:
minus(y=2, x=1) # keyword 방식에서는 파라미터 순서를 지키지 않아도 됨. 변수명이 a, b로 바뀌면 안됨.

-1

In [ ]:
minus(1, y=2) # positional 방식과 keyword 방식을 함께 사용해도 됨.

-1

In [ ]:
# minus(y=2, 1)  -> 에러가 나온다, 포지션이 키워드 다음에 나오면 안된다.

SyntaxError: ignored

In [ ]:
# minus(x=2, 1) # keyword 방식이 positional 방식보다 먼저 나오면 문법 오류

# 가변길이 인수(variable-length argument)

* 함수를 호출할 때 전달하는 값(argument)의 개수가 임의로 변할 수 있는 것
    * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 사용하면 가변길이 인수를 전달받을 수 있음.
* 함수 내부에서 가변길이 인수는 tuple로 취급해서 코드를 작성.
    * 인덱스 사용 가능.
    * for-in 구문 사용 가능.
* **(주의)** 
    * 가변길이 인수는 keyword 방식으로는 전달할 수 없음.
    * 함수에서 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능!

In [ ]:
print('abc')
print()
print('abc', 'def')

abc

abc def

In [ ]:
def add_all(*values):
    total = 0
    for x in values:
        total += x
    return total

In [ ]:
add_all()

0

In [ ]:
add_all(2, 3, 5)

10

In [ ]:
def test(*x, y):
    print(x)
    print(y)

In [ ]:
test(1, 2, y = 3) # test(1, 2, 3)은 error -> b/c y값이 전달이 안되었기 때문.

(1, 2)
3

In [ ]:
print(1, 2, 3, sep = ', ') # 어떤 argument들은 position이 아닌 keyword로만 전달할 수 있는 argument가 있다. variable length 뒤에 오는거에 대해서

1, 2, 3

# 가변길이 키워드 인수(variable-length keyword argument)

* variable-length arg - 함수를 호출할 때 전달하는 argument 개수 제한이 없음.
* keyword arg - 함수를 호출할 때 argument 반드시 `param=value` 형식으로 전달.
* 함수를 정의할 파라미터 이름 앞에 `**`를 붙임.
* 함수 내부에서는 dict로 취급해서 코드 작성.
* 함수에서 가변길이 키워드 인수는 오직 1개만 선언 가능.

In [ ]:
def test2(**kwargs):
    print(kwargs)

In [ ]:
test2(x=1, msg='hello', y=123)

{'x': 1, 'msg': 'hello', 'y': 123}

In [ ]:
test2()

{}

In [ ]:
def make_emp(emp_no, emp_name, **kwargs): # 함수 뜻: 사원 번호, 이름은 무조건적으로 필요하지만, 그 외의 정보들은 임의로
    emp = {'emp_no': emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items(): # 기존에 만들어진 값에 추가하는 것 이므로, 딕셔너리로 추가할 수 밖에 없다. 
        emp[k] = v              # items 추가 한 이유, 딕셔너리에서 for 문 사용하면 key 값 만 반복함으로.
    return emp

In [ ]:
make_emp(1, '홍길동')

{'emp_no': 1, 'emp_name': '홍길동'}

In [ ]:
make_emp(2, 'Scott', phone='010-0000,0000', enail='scott@oracle.com')

{'emp_no': 2,
 'emp_name': 'Scott',
 'phone': '010-0000,0000',
 'enail': 'scott@oracle.com'}

In [ ]:
def make_emp2(emp_no, emp_name, **kwargs):
    emp={'emp_no':emp_no, 'emp_name':emp_name, 'email':None, 'phone':None}
    for k, v in kwargs.items():
        if k == 'email' or k == 'phone':
            emp[k] = v
    
    return emp

In [ ]:
make_emp2(3, 'tiger', email='tiger@test.com', tel='010-0000-0000')

{'emp_no': 3, 'emp_name': 'tiger', 'email': 'tiger@test.com', 'phone': None}