<a href="https://colab.research.google.com/github/sjunkim95/lab-python/blob/main/py10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class ojbect)로서의 함수

함수는 객체(object)다.

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 다른 함수를 전달할 수 있음.
* 함수의 리턴 값이 함수가 될 수 있음.
* 함수 내부에서 다른 함수를 정의할 수 있음.

In [ ]:
def twice(x):
    return 2 * x

In [ ]:
result = twice(5) # 함수 twice의 호출 결과(리턴 값)를 변수 result에 할당.
result

10

In [ ]:
double = twice # 함수 twice 객체를 변수 double에 할당. (즉, 함수 객체를 의미하는 것)
double

In [ ]:
double(100) # 함수 호출

200

## 파라미터에 함수를 전달

In [ ]:
def calculator(x, y, fn):
    """
    x, y: 숫자 타입(int, float)
    fn: 숫자 2개를 argument로 전달받고, 숫자를 리턴하는 함수.
    """
    result = fn(x, y)
    return result # 함수의 호출 결과를 return 해주는 함수임.

In [ ]:
def plus(x, y):
    return x + y

In [ ]:
calculator(1, 2, plus)

3

## 내부 함수, 함수 리턴

In [ ]:
def make_increments(n):

    # 내부 함수 (inner function). 지역 함수(local function)
    def add_n(x): # 이 함수의 이름은 make_increments함수 안에 return 안에서만 기억이 되어 있음.ㄴ
        
        # 내부 함수는 외부 함수의 지역 변수들을 사용할 수 있음.
        
        return x + n
    
    return add_n

In [ ]:
increase_by_2 = make_increments(2)

In [ ]:
increase_by_2

In [ ]:
increase_by_2(100)

102

In [ ]:
increase_by_10 = make_increments(10)
increase_by_10(100)

110

# 람다 표현식(Lambda expression)

* 이름이 없는 함수 표기법.
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식은 제공하지 않음.

```
lambda p1, p2, ...: expression
```

In [ ]:
minus = lambda x, y: x - y

In [ ]:
minus

In [ ]:
calculator(1, 2, lambda x, y: x / y)

0.5

calclator 함수에 더 큰 숫자를 리턴하는 람다 표현식을 argument로 전달.

In [ ]:
calculator(1, 2, lambda x, y: x if x > y else y)

2

calculator 함수에 첫번째 argumet가 크면 True 그렇지 않으면 False를 리턴하는 람다 표현식을 argument로 전달

In [ ]:
calculator(1, 2, lambda x, y: x > y)

False

## filter 함수

조건에 맞은 원소들만 선택.

In [ ]:
def my_filter(iterable, fn):
    """
    리스트 iterable의 원소들 중에서 fn의 결과값이 True인 원소들로만 이루어진 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고, 리턴 타입은 bool인 함수.
    """
    # result = []  # 필터링된 결과를 저장할 빈 리스트
    # for x in iterable:  # 원본 리스트의 원소들을 처음부터 끝까지 반복하면서
    #     if fn(x):  # 필터링 조건을 만족하면
    #         result.append(x)  # 결과 리스트에 추가
    # return result
    return [x for x in iterable if fn(x)]

In [ ]:
num_list = [1, -2, 3, -4, -5, -6, 7, 8]

In [ ]:
# num_list에서 홀수들만 필터링
my_filter(num_list, lambda x: x % 2  == 1)

[1, 3, -5, 7]

In [ ]:
# num_list에서 음수들만 필터링
my_filter(num_list, lambda x: x < 0)

[-2, -4, -5, -6]

In [ ]:
languages = ['Java', 'JavaScript', 'Python']

In [ ]:
# languages에서 글자수가 5글자 이상인 문자열들만 필터링
my_filter(languages, lambda x: len(x) >= 5)

['JavaScript', 'Python']

## map 함수

원소들을 규칙에 따라서 다른 값으로 변환.

In [ ]:
def my_mapper(iterable, fn):
    """
    리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

    iterable: 리스트.
    fn: argument가 1개이고 리턴 값이 있는 값.
    """
    return [fn(x) for x in iterable]
    # result = []
    # for x in iterable:
    #     result.append(fn(x))
    # return result

In [ ]:
print(num_list)
print(languages)

[1, -2, 3, -4, -5, -6, 7, 8]
['Java', 'JavaScript', 'Python']

In [ ]:
# num_list의 원소들을 홀수는 True, 짝수는 False로 매핑
my_mapper(num_list, lambda x: x % 2 == 1)

[True, False, True, False, True, False, True, False]

In [ ]:
# num_list의 원소들을 0 이상인 숫자들은 True, 음수들은 False로 매핑
my_mapper(num_list, lambda x: x >= 0)

[True, False, True, False, False, False, True, True]

In [ ]:
# languages의 문자열들을 그 문자열의 길이로 매핑
my_mapper(languages, lambda x: len(x))

[4, 10, 6]

Python에서 구현된 `filter`, `map`

In [ ]:
result = filter(lambda x: x > 0, num_list)
result  # 필터링된 결과를 저장하고 있는 객체. 리스트 타입은 아님!

In [ ]:
list(result)  # 필터링된 결과를 list 타입으로 변환

[1, 3, 7, 8]

In [ ]:
result = map(lambda x: x >= 0, num_list)
print(result)
list(result)

<map object at 0x7f9942d61d30>

[True, False, True, False, False, False, True, True]