<a href="https://colab.research.google.com/github/sjunkim95/lab-python/blob/main/py20_gapminder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


* GitHub에 저장된 [gapminder.tsv](https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv) 파일을 읽고 DataFrame을 생성
* 데이터 프레임 탐색
* (중복되지 않는) 국가 이름의 개수?
* (중복되지 않는) 대륙 이름?
* (중복되지 않는) 연도의 개수?
* 국가이름, 연도, 1인당 GDP 컬럼을 선택
* 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
* 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
* 연도별 기대수명의 평균을 출력
* 연도별 1인당 GDP의 평균을 출력
* 연도별 대륙별 전세계 인구를 출력

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# GitHub에 저장된 파일 경로(이름)
file_path = 'https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv'

In [ ]:
# 파일을 읽고, DataFrame 생성
# CSV(Comma-Separated Values), TSV(Tab-Seperated Values)
gapminder = pd.read_csv(file_path, sep='\t')

In [ ]:
# DataFrame 확인
gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
gapminder.head()  # iloc[:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
gapminder.tail()  # iloc[-5:]

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
gapminder.info()  # 데이터프레임 정보: row/column index, non-null, dtype, ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
gapminder.describe()  # 숫자 타입 변수들의 기술 통계량

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
gapminder['country'].value_counts()  # 카테고리 타입의 기술 통계량 - 빈도수

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [ ]:
gapminder.continent.value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [ ]:
# 중복되지 않은 국가 이름 개수
len(gapminder.country.unique())

142

In [ ]:
# 중복되지 않은 대륙 이름 개수
len(gapminder.continent.unique())

5

In [ ]:
# 중복되지 않은 연도 개수
len(gapminder.year.unique())

12

In [ ]:
# 컬럼 선택
gapminder[['country', 'year', 'gdpPercap']]

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

In [ ]:
# 1인당 GDP 최댓값
gapminder.gdpPercap.max()

113523.1329

In [ ]:
# 1인당 GDP 최솟값
gapminder.gdpPercap.min() # gapminder['gdpPercap'].min()

241.1658765

In [ ]:
gapminder[(gapminder.gdpPercap == gapminder.gdpPercap.max())|
          (gapminder.gdpPercap == gapminder.gdpPercap.min())]

              country continent  year  lifeExp       pop      gdpPercap
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852     241.165876
853            Kuwait      Asia  1957   58.033    212846  113523.132900

In [ ]:
# 기대수명 최솟값, 최댓값
gapminder[(gapminder.lifeExp == gapminder.lifeExp.min()) |
          (gapminder.lifeExp == gapminder.lifeExp.max())]

     country continent  year  lifeExp        pop     gdpPercap
803    Japan      Asia  2007   82.603  127467972  31656.068060
1292  Rwanda    Africa  1992   23.599    7290203    737.068595

In [ ]:
# 일본의 연도별 기대 수명
gapminder[gapminder.country == 'Japan'][['country', 'year', 'lifeExp']]

    country  year  lifeExp
792   Japan  1952   63.030
793   Japan  1957   65.500
794   Japan  1962   68.730
795   Japan  1967   71.430
796   Japan  1972   73.420
797   Japan  1977   75.380
798   Japan  1982   77.110
799   Japan  1987   78.670
800   Japan  1992   79.360
801   Japan  1997   80.690
802   Japan  2002   82.000
803   Japan  2007   82.603

In [ ]:
# 르완다의 연도별 기대수명
gapminder[gapminder.country == 'Rwanda'][['country', 'year', 'lifeExp']]

     country  year  lifeExp
1284  Rwanda  1952   40.000
1285  Rwanda  1957   41.500
1286  Rwanda  1962   43.000
1287  Rwanda  1967   44.100
1288  Rwanda  1972   44.600
1289  Rwanda  1977   45.000
1290  Rwanda  1982   46.218
1291  Rwanda  1987   44.020
1292  Rwanda  1992   23.599
1293  Rwanda  1997   36.087
1294  Rwanda  2002   43.413
1295  Rwanda  2007   46.242

In [ ]:
# 연도별 기대수명 평균
gapminder.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [ ]:
# 연도별 1인당 GDP
gapminder.groupby('year').gdpPercap.mean()

year
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: gdpPercap, dtype: float64

In [ ]:
# 연도별 대륙별 인구수
gapminder.groupby(['year', 'continent'])['pop'].sum()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64